# Environment variables files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/dist/
/build/

# Dependency directories
node_modules/
.npm/

# MacOS
.DS_Store
